body {
  background-color: white;
}

h1 {
    color: black;
    background-color: salmon;
}

a:link, a:visited, a:active {
    color: blue;
    text-decoration: none;
    
}

a:hover {
    color: darkorange;
    text-decoration: none;
    text-shadow: 1px 1px 1px antiquewhite;
}

#employees {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

#employees td, #employees th {
  border: 1px solid #ddd;
  padding: 8px;
}

#employees tr:nth-child(even){background-color: #f2f2f2;}

#employees tr th a {color: black; }


#employees tr:hover {background-color: #ddd;}

#employees th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: crimson;
  color: white;
}
#supervisors {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

#supervisors td, #supervisors th {
  border: 1px solid #ddd;
  padding: 8px;
}

#supervisors tr:nth-child(even){background-color: #f2f2f2;}

#supervisors tr:hover {background-color: #ddd;}

#supervisors th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #4CAF50;
  color: white;
}

/*
a:link - a normal, unvisited link
a:visited - a link the user has visited
a:hover - a link when the user mouses over it
a:active - a link the moment it is clicked


*/

