<h3> View Employee Details</h3>

<!--  EID, SID, YOS, name, position, salary -->

<div>
    <div>
        <label> <b> EID : </b></label> {{employee.eid}}
    </div>
    <div>
        <label> <b> Name : </b></label> {{employee.name}}
    </div>
    <div>
        <label> <b> YOS : </b></label> {{employee.yos}}
    </div>
    <div>
        <label> <b> Position : </b></label> {{employee.position}}
    </div>
    <div>
        <label> <b> Salary : </b></label> {{employee.salary}}
    </div>
    <div>
        <label> <b> SID : </b></label> {{employee.sid}}
    </div>

</div>